/*generics*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*utilities*/
.box{
    /*margin-left:5px;*/
    border-right:2px solid white;
    border-bottom: 2px solid white;
    padding: 20px 20px;
    text-align: center;
}
.row-nested{
    align-items: center;
}

.box-nested{
    padding: 5px 5px;
}

.padding{
    padding:15px;
}

.grow{
    flex-grow:1;
}

.bg-blue{
    background-color: #006cfa;
}

.bg-green{
    background-color: #00e165;
}

#margin-top{
    margin-top:10px;
}
/*content*/