/*generics*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/*utilities*/
.box{
    /*margin-left:5px;*/
    border-right:2px solid white;
    border-bottom: 2px solid white;
    padding: 10px 20px;
    text-align: center;
}

.bg-blue{
    background-color: #006cfa;
}
/*content*/